set_io --warn-no-port CLK B2
set_io --warn-no-port USBPU A3
set_io --warn-no-port LED B3

set_io --warn-no-port PIN_1 A2
set_io --warn-no-port PIN_2 A1

set_io --warn-no-port PIN_12 J1
set_io --warn-no-port PIN_13 H2

set_io --warn-no-port PIN_14 H9
set_io --warn-no-port PIN_15 D9

set_io --warn-no-port PIN_18 A9
set_io --warn-no-port PIN_19 B8

set_io --warn-no-port PIN_21 B7
set_io --warn-no-port PIN_22 A7
set_io --warn-no-port PIN_23 B6
